body{
    display:flex;
    align-content:center;
}

.row {
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    justify-content:space-between;
}

form {
    margin-top:20px;
    width:40%;
    display:flex;
    justify-content:center;
    background-color: red;
    border-radius: 20px;
}

