@model Operation

<head>
    <link rel="stylesheet" href="~/css/CalcIndex.css" type="text/css">
</head>


<div class="divForm">
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="form-group">
            <div class="row calcTitle">
                <label><h3>Net Core Calulator</h3></label>
            </div>
            <div class="row">
                <label asp-for="NumberA"></label>
                <label asp-for="OperationType"></label>
                <label asp-for="NumberB"></label>

            </div>
            <div class="row">
                <input type="number" step="any" asp-for="NumberA" />
                <select asp-for="OperationType" asp-items="Html.GetEnumSelectList<OperationType>()">
                    <option selected="selected" value="">Select</option>
                </select>
                <input type="number" step="any" asp-for="NumberB" />
            </div>
            <div class="row">
                <label asp-for="Result"></label>
                <input type="number" disabled="disabled" asp-for="Result" />
                <input type="submit" value="Submit" asp-action="Index" />
            </div>
        </div>
    </form>
</div>

